{% comment %}
  Renders social icons.
  Accepts:
  - class: {String} a class to be added to the <ul> element (optional).
  - alignment: {Number} 0–100 alignment percentage (0=left, 50=center, 100=right) (default: 100).
  - gap: {Number} gap between icons in px (default: 10).
  - icon_size: {Number} icon width/height in px (default: 22).

  Usage:
  {% render 'social-icons',
    class: 'my-class',
    alignment: 100,
    gap: 10,
    icon_size: 22
  %}
{% endcomment %}

{%- liquid
  assign align_str = alignment | default: '100'
  if align_str == 'flex-start'
    assign align_num = 0
  elsif align_str == 'center'
    assign align_num = 50
  elsif align_str == 'flex-end'
    assign align_num = 100
  else
    assign align_num = align_str | times: 1.0
  endif
  assign push_start = align_num | divided_by: 100
  assign push_end = 100.0 | minus: align_num | divided_by: 100
  assign spacing = gap | default: 10
  assign size = icon_size | default: 22
  assign size_x2 = size | times: 2
-%}

<ul class="list-unstyled list-social{% if class %} {{ class}}{% endif %}" role="list"
    style="--list-social-push-start: {{ push_start }}; --list-social-push-end: {{ push_end }}; --list-social-gap: {{ spacing }}px; --list-social-icon-size: {{ size }}px">
  {%- if settings.social_facebook_link != blank and settings.social_facebook_visible != false -%}
    <li class="list-social__item">
      <a href="{{ settings.social_facebook_link }}" class="link list-social__link">
        {%- if settings.social_facebook_icon != blank -%}
          <img src="{{ settings.social_facebook_icon | image_url: width: size }}" srcset="{{ settings.social_facebook_icon | image_url: width: size }} 1x, {{ settings.social_facebook_icon | image_url: width: size_x2 }} 2x" alt="" class="icon icon-facebook" width="{{ size }}" height="{{ size }}" loading="lazy">
        {%- else -%}
          <span class="svg-wrapper">
            {{- 'icon-facebook.svg' | inline_asset_content -}}
          </span>
        {%- endif -%}
        <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_instagram_link != blank and settings.social_instagram_visible != false -%}
    <li class="list-social__item">
      <a href="{{ settings.social_instagram_link }}" class="link list-social__link">
        {%- if settings.social_instagram_icon != blank -%}
          <img src="{{ settings.social_instagram_icon | image_url: width: size }}" srcset="{{ settings.social_instagram_icon | image_url: width: size }} 1x, {{ settings.social_instagram_icon | image_url: width: size_x2 }} 2x" alt="" class="icon icon-instagram" width="{{ size }}" height="{{ size }}" loading="lazy">
        {%- else -%}
          <span class="svg-wrapper">
            {{- 'icon-instagram.svg' | inline_asset_content -}}
          </span>
        {%- endif -%}
        <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_youtube_link != blank and settings.social_youtube_visible != false -%}
    <li class="list-social__item">
      <a href="{{ settings.social_youtube_link }}" class="link list-social__link">
        {%- if settings.social_youtube_icon != blank -%}
          <img src="{{ settings.social_youtube_icon | image_url: width: size }}" srcset="{{ settings.social_youtube_icon | image_url: width: size }} 1x, {{ settings.social_youtube_icon | image_url: width: size_x2 }} 2x" alt="" class="icon icon-youtube" width="{{ size }}" height="{{ size }}" loading="lazy">
        {%- else -%}
          <span class="svg-wrapper">
            {{- 'icon-youtube.svg' | inline_asset_content -}}
          </span>
        {%- endif -%}
        <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tiktok_link != blank and settings.social_tiktok_visible != false -%}
    <li class="list-social__item">
      <a href="{{ settings.social_tiktok_link }}" class="link list-social__link">
        {%- if settings.social_tiktok_icon != blank -%}
          <img src="{{ settings.social_tiktok_icon | image_url: width: size }}" srcset="{{ settings.social_tiktok_icon | image_url: width: size }} 1x, {{ settings.social_tiktok_icon | image_url: width: size_x2 }} 2x" alt="" class="icon icon-tiktok" width="{{ size }}" height="{{ size }}" loading="lazy">
        {%- else -%}
          <span class="svg-wrapper">
            {{- 'icon-tiktok.svg' | inline_asset_content -}}
          </span>
        {%- endif -%}
        <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_twitter_link != blank and settings.social_twitter_visible != false -%}
    <li class="list-social__item">
      <a href="{{ settings.social_twitter_link }}" class="link list-social__link">
        {%- if settings.social_twitter_icon != blank -%}
          <img src="{{ settings.social_twitter_icon | image_url: width: size }}" srcset="{{ settings.social_twitter_icon | image_url: width: size }} 1x, {{ settings.social_twitter_icon | image_url: width: size_x2 }} 2x" alt="" class="icon icon-twitter" width="{{ size }}" height="{{ size }}" loading="lazy">
        {%- else -%}
          <span class="svg-wrapper">
            {{- 'icon-twitter.svg' | inline_asset_content -}}
          </span>
        {%- endif -%}
        <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_pinterest_link != blank and settings.social_pinterest_visible != false -%}
    <li class="list-social__item">
      <a href="{{ settings.social_pinterest_link }}" class="link list-social__link">
        {%- if settings.social_pinterest_icon != blank -%}
          <img src="{{ settings.social_pinterest_icon | image_url: width: size }}" srcset="{{ settings.social_pinterest_icon | image_url: width: size }} 1x, {{ settings.social_pinterest_icon | image_url: width: size_x2 }} 2x" alt="" class="icon icon-pinterest" width="{{ size }}" height="{{ size }}" loading="lazy">
        {%- else -%}
          <span class="svg-wrapper">
            {{- 'icon-pinterest.svg' | inline_asset_content -}}
          </span>
        {%- endif -%}
        <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_snapchat_link != blank and settings.social_snapchat_visible != false -%}
    <li class="list-social__item">
      <a href="{{ settings.social_snapchat_link }}" class="link list-social__link">
        {%- if settings.social_snapchat_icon != blank -%}
          <img src="{{ settings.social_snapchat_icon | image_url: width: size }}" srcset="{{ settings.social_snapchat_icon | image_url: width: size }} 1x, {{ settings.social_snapchat_icon | image_url: width: size_x2 }} 2x" alt="" class="icon icon-snapchat" width="{{ size }}" height="{{ size }}" loading="lazy">
        {%- else -%}
          <span class="svg-wrapper">
            {{- 'icon-snapchat.svg' | inline_asset_content -}}
          </span>
        {%- endif -%}
        <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tumblr_link != blank and settings.social_tumblr_visible != false -%}
    <li class="list-social__item">
      <a href="{{ settings.social_tumblr_link }}" class="link list-social__link">
        {%- if settings.social_tumblr_icon != blank -%}
          <img src="{{ settings.social_tumblr_icon | image_url: width: size }}" srcset="{{ settings.social_tumblr_icon | image_url: width: size }} 1x, {{ settings.social_tumblr_icon | image_url: width: size_x2 }} 2x" alt="" class="icon icon-tumblr" width="{{ size }}" height="{{ size }}" loading="lazy">
        {%- else -%}
          <span class="svg-wrapper">
            {{- 'icon-tumblr.svg' | inline_asset_content -}}
          </span>
        {%- endif -%}
        <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_vimeo_link != blank and settings.social_vimeo_visible != false -%}
    <li class="list-social__item">
      <a href="{{ settings.social_vimeo_link }}" class="link list-social__link">
        {%- if settings.social_vimeo_icon != blank -%}
          <img src="{{ settings.social_vimeo_icon | image_url: width: size }}" srcset="{{ settings.social_vimeo_icon | image_url: width: size }} 1x, {{ settings.social_vimeo_icon | image_url: width: size_x2 }} 2x" alt="" class="icon icon-vimeo" width="{{ size }}" height="{{ size }}" loading="lazy">
        {%- else -%}
          <span class="svg-wrapper">
            {{- 'icon-vimeo.svg' | inline_asset_content -}}
          </span>
        {%- endif -%}
        <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
      </a>
    </li>
  {%- endif -%}
</ul>
